body {
    overflow: auto;
    margin: 0px;
    cursor: url('./image/cursor.png'),auto;
  }
  
  #orrery {
    position: relative;
    z-index: 1; /* Changed z-index to 1 */
    margin-top: -1px;
    overflow: hidden;
    border-top: 1px solid #000; 
  }
  
  #orrery div { 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  footer {
    position: relative;
    z-index: 1;
  }

  input[type="checkbox"]:checked + label {
    color: #00f; /* blue color when checked */
  }
  
  input[type="checkbox"]:not(:checked) + label {
    color: #ccc; /* gray color when not checked */
  }

  form {
    position: fixed;
    left: 85%;
    top: 65%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.45);
    color: #d21827;
    padding: 20px;
    border-radius: 15px;
    z-index: 1000;
    font-family: BROWNIEregular, sans-serif;
    text-align: left;
    min-width: 220px;
    font-size: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  select {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.45);

    
  }
  
  button[type="submit"] {
    width: 100%;
    height: 40px;
    background-color: #d21827;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #c21827;
  }
  
  span {
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
  }

  #comet-table {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con 50% de opacidad */
    color: white; /* Texto blanco */
    padding: 10px; /* Espacio alrededor del contenido */
  }